@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-withe-color: #fff;
    --main-black-color: #111;
    --box-border-color: #e78300;
}

body {
    background: var(--main-black-color);
    color: var(--main-withe-color);
    position: relative;
    font-family: "Roboto";
    font: var(--main-withe-color);
    overflow-x: hidden;
}

ul, li {
    list-style: none;
}

a, em {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

/* header */
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

header .logo {
    display: flex; 
    gap: 20px;
    cursor: pointer;
}

header .logo_letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fugaz One";
    font-size: 1.5rem;
}

header .logo .logo_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-size: 0.8rem;
}

header .gnb {
    width: 20%;
    .bar_menu {
        display: none;
    }
}

header .gnb ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & li a {
        transition: all 0.5s;
    }
    /* & li:hover a {
        font-family: "Fugaz One";
        color: var(--box-border-color);
    } */
}

/* bar_slide */
.bar_slide {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background-color: #111;
    transition: all 0.8s;
    ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        &:hover li {
            flex: 1;
        }
        li {
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: column;
            flex: 1;
            transition: all 0.5s;
            overflow: hidden;
            padding: 20px;


            &:nth-child(1){
                border-top: none;
                background:linear-gradient(to right,rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.2) 100%), url("./img/main.png") right/cover no-repeat;
            }
            &:nth-child(2){
                background:linear-gradient(to left,rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.2) 100%), url("./img/about.png") left/contain no-repeat;
                a {
                    justify-content: end;
                }
            }
            &:nth-child(3){
                background:linear-gradient(to right, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.2) 100%), url("./img/detail.png") right/contain no-repeat;
                a {

                }
            }
            &:nth-child(4){
                background:linear-gradient(to left, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.2) 100%), url("./img/end.png") left/contain no-repeat;
                a {
                    justify-content: end;
                }
            }
            &:hover {
                flex: 1.1;
            }
            &:hover a {
                color: var(--box-border-color);
                text-shadow: -2px 0px var(--main-withe-color), 0px 2px  var(--main-withe-color), 1px 0px  var(--main-withe-color), 0px -1px  var(--main-withe-color);
            }
            a {
                height: 100%;
                display: flex;
                align-items: center;
                font-family: "Fugaz One";
                font-size: 5vw;
                color: var(--main-black-color);
                text-shadow: -2px 0px var(--box-border-color), 0px 2px  var(--box-border-color), 1px 0px  var(--box-border-color), 0px -1px  var(--box-border-color);
                transition: all 0.3s;
            }
        }
    }
    .close {
        position: absolute;
        top: 1.5%;
        right: 3%;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 50%;
        &:hover {
            transform: scale(1.2);
            color: var(--box-border-color);
        }
        &:hover i {
            color: var(--box-border-color);
            text-shadow: -2px 0px var(--main-withe-color), 0px 2px  var(--main-withe-color), 1px 0px  var(--main-withe-color), 0px -1px  var(--main-withe-color);
        }
        i {
            font-size: 5vw;
            color: var(--main-black-color);
            text-shadow: -2px 0px var(--box-border-color), 0px 2px  var(--box-border-color), 1px 0px  var(--box-border-color), 0px -1px  var(--box-border-color);
            transition: all 0.3s;
        }
    }
}

.bar_slide.active {
    right: 0;
}

section {
    width: 100%;
    height: 100vh;
    margin-bottom: 200px;
}

/* main */
#main {
    display: flex;
}

#main .main_left {
    width: 66.6%;
    height: 100%;
    position: relative;
}

#main .main_left::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 0;
    box-shadow: 0 0 10px var(--box-border-color);
    background: var(--box-border-color);
    animation: mainLeftRight 0.8s ease-in forwards;
}

@keyframes mainLeftRight {
    100% {
        height: 100%;
    }
}

#main .main_left .main_left_blank {
    width: 100%;
    height: 40%;
    position: relative;
}

#main .main_left .main_left_blank::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    box-shadow: 0 0 10px var(--box-border-color);
    background: var(--box-border-color);
    animation: mainleftbottom 0.8s ease-in forwards;
}
@keyframes mainleftbottom {
    100% {
        width: 100%;
    }
}

#main .main_left .main_left_text {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main .main_left .main_left_text span {
    letter-spacing: -2%;
}


#main .main_left .main_left_text .main_left_text_top{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .main_left .main_left_text .main_left_text_top span {
    font-size: 1.8rem;
    line-height: 30px;
}

#main .main_left .main_left_text .main_left_text_middle {
    height: 40%;
    display: flex;
}
#main .main_left .main_left_text .main_left_text_middle span {
    font-size: 8.3vw;
    line-height: 140px;
    font-weight: 500;
}
#main .main_left .main_left_text .main_left_text_middle span em {
    font-family: "Fugaz One";
    text-shadow: -5px 0px var(--box-border-color), 0px 5px  var(--box-border-color), 1px 0px  var(--box-border-color), 0px -1px  var(--box-border-color);
}

#main .main_left .main_left_text .main_left_text_middle .text_middle_768 {
    display: none;
}

@keyframes popUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

#main .main_left .main_left_text .main_left_text_slide {
    width: 100%;
    height: 40%;
}

#main .main_left .main_left_text .main_left_text_slide .main_left_text_slide_wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
}

#main .main_left .main_left_text .main_left_text_slide li {
    font-size: 8.3vw;
    font-weight: 500;
    position: absolute;
    top: -100%;
    left: 0;
    &::first-letter{
        font-family: "Fugaz One";
        text-shadow: -5px 0px var(--box-border-color), 0px 5px  var(--box-border-color), 1px 0px  var(--box-border-color), 0px -1px  var(--box-border-color);
    }
    &.prev {
        top: -100%;
        transition: top 0.5s;
    }
    &.current {
        top: 0;
        transition: top 0.5s;
    }
        &.next {
        top: 100%;
    }
}

#main .main_right {
    width: 33.3%;
    height: 100%;
}

#main .main_right .main_right_blank {
    width: 100%;
    height: 50%;
}

#main .main_right .main_right_text {
    width: 100%;
    height: 50%;
    position: relative;
}

#main .main_right .main_right_text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: var(--box-border-color);
    box-shadow: 0 0 10px var(--box-border-color);
    animation: mainRight 1.5s 0.8s ease-in-out forwards;
}

@keyframes mainRight {
    100% {
        width: 100%;
    }
}

#main .main_right .main_right_text span {
    display: flex;
    flex-direction: column;
}

#main .main_right .main_right_text span:nth-child(1) {
    font-size: 3rem;
}

#main .main_right .main_right_text span:nth-child(2) {
    font-size: 2rem;
    font-weight: 300;
}

/* about_intro */
#about_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#about_intro .about_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#about_intro .about_img svg {
    width: 919px;
    height: 900px;
    stroke-dashoffset: 919;
    stroke-dasharray: 919;
}

#about_intro.active .about_img svg path{
    animation: aboutImage 3s ease forwards;
    stroke: var(--box-border-color);
}
@keyframes aboutImage {
    0%{stroke-dashoffset: 100%; fill: var(--main-black-color);}
    100%{stroke-dashoffset: 0%; fill: var(--box-border-color);}
}

#about_intro .about_intro_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#about_intro .about_intro_text span {
    height: 70px;
    font-size: 3.6rem;
    position: relative;
    color: var(--main-black-color);
    text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
}

#about_intro .about_intro_text span em {
    position: absolute;
    top: 15%;
    left: -5%;
    font-family: "Roboto";
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--box-border-color);
}

#about_intro .about_intro_text div:nth-child(1) {
    font-family: 'SUIT-Regular';
    transform: translateX(45%);
}

#about_intro .about_intro_text div:nth-child(2) {
    transform: translateX(15%);
}

#about_intro .about_intro_text div:nth-child(3) {
    transform: translateX(65%);
}
#about_intro .about_intro_text div:nth-child(4) {
    transform: translateX(30%);
}

#about_intro .about_intro_text div:nth-child(5) {
    transform: translateX(92%);
}

#about_intro .about_intro_text div:nth-child(6) {
    transform: translateX(48%);
}

#about_intro .about_intro_text div:nth-child(7) {
    transform: translateX(1%);
}

#about_intro .about_intro_text div:nth-child(8) {
    transform: translateX(75%);
}

#about_intro .about_intro_text div:nth-child(9) {
    font-family: 'SUIT-Regular';
    transform: translateX(42%);
}


#about_intro .about_intro_text .about_intro_text_en{
    font-family: "Fugaz One";
}

/* about_desc */
#about_desc {
    position: relative;
}

#about_desc .about_desc_top_img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
    height: 480px;
    border: 3px solid var(--box-border-color);
    border-radius: 5%;
    box-shadow: 0px 0px 10px var(--box-border-color);
    z-index: 1;
}

#about_desc.active .about_desc_top_img {
    animation: myImg 3s linear forwards;
}

@keyframes myImg {
    0% {
        filter: blur(30px);
    }
    100% {
        filter: blur(0);
    }
}


#about_desc .about_desc_top_img img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.about_desc_top {
    display: flex;
    height: 40%;
}

.about_desc_top .about_desc_top_left{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.about_desc_top .about_desc_top_left p{
    width: 60%;
    font-family: 'SUIT-Regular';
    font-size: 1.8rem;
    text-align: justify;
    padding-left: 40px;
    padding-bottom: 80px;
}

.about_desc_top .about_desc_top_right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.about_desc_top .about_desc_top_right p{
    width: 60%;
    font-family: 'SUIT-Regular';
    text-align: justify ;
    padding-right: 40px;
    font-size: 1.8rem;
}

.about_desc_bottom {
    height: 60%;
}

.about_desc_bottom span{
    display: block;
    font-family: "Fugaz One";
    font-size: 27rem;
    text-align: center;
    color: var(--main-withe-color);
    text-shadow: -5px 0px var(--box-border-color), 0px 5px  var(--box-border-color), 1px 0px  var(--box-border-color), 0px -1px  var(--box-border-color);
}

/* detail */
#detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detail .detail_uppertext {
    width: 100%;
    overflow: hidden;
}

#detail .detail_uppertext .detail_uppertext_wrapper {
    position: relative;
    width: 500%;
    animation: detail_text 30s linear infinite;
}

@keyframes detail_text {
    0%{left: -300%;}
    100%{left: 0%;}
}

#detail .detail_uppertext span {
    font-size: 6rem;
}

#detail .detail_uppertext span em{
    color: var(--box-border-color);
    font-size: 6rem;
}

#detail .detail_list {
    margin-top: 240px;
    width: 1280px;
}

#detail .detail_list .list {
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 50px 100px;
    transition: all 0.3s;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--box-border-color);
        animation: bar 2s linear infinite;
    }
    &:last-child::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--box-border-color);
        animation: bar 2s linear infinite;
    }
    &:hover {
        transform: scale(1.05);
    }
}

@keyframes bar {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0px 0px 15px var(--box-border-color);
    }
    0% {
        box-shadow: none;
    }
}

#detail .detail_list .list .number {
    font-size: 1.8rem;
    position: relative;
}
#detail .detail_list .list .number em {
    font-size: 1.1rem;
    color: var(--box-border-color);
    position: absolute;
    top: 2%;
    left: -70%;
}

#detail .detail_list .list .desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

#detail .detail_list .list .desc span {
    font-family: 'SUIT-Regular';
    font-size: 1.2rem;
    &:first-child {
        font-family: "Fugaz One";
        font-size: 1.8rem;
    }
}

/* end */
#end {
    margin-bottom: 0;
}

#end .end_title {
    height: calc(100% / 3 * 2);
    text-align: center;
}
#end .end_title span {
    font-size: 13.1rem;
}
#end .end_title span em {
    font-family: "Fugaz One";
    color: var(--box-border-color);
    text-shadow: -5px 0px var(--main-withe-color), 0px 5px  var(--main-withe-color), 1px 0px  var(--main-withe-color), 0px -1px  var(--main-withe-color);
}

#end .end_footer {
    height: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#end .end_footer .end_footer_top {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#end .end_footer .end_footer_top a {
    background: var(--main-black-color);
    color: var(--main-withe-color);
    border: 1px solid var(--box-border-color);
    transition: all 0.3s;
    &:first-child {
        font-size: 2.3rem;
        padding: 15px 30px;
        border-radius: 10px;
    }
    &:last-child {
        font-size: 1.5rem;
        background: transparent;
        padding: 10px;
        border: none;
        text-align: center;
        &:hover {
            color: var(--box-border-color);
            transform: translateY(-30%);
        }
    }
    &:hover:first-child{
        background: var(--box-border-color);
        color: var(--main-black-color);
        border: 1px solid var(--box-border-color);
    }
}

#end .end_footer .end_footer_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
#end .end_footer .end_footer_bottom span {
    font-size: 1.5rem;
}

